@model CaserGroup.Automotive.UI.ViewModels.AppointmentViewModel

@{
    ViewBag.Title = "Randevu Bilgisi";
}

<h2>Randevu Bilgisi</h2>

<div> 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleBrand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleBrand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Listeye Git", "Index")
</p>
